solutions/TeamsAACQOrchestrator/src/Workflows/UploadFile-93F08815-88B6-EC11-983F-000D3A319C6C.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_2": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_89176"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "VAR - SPO Site AutoAttendant and CallQueue Management (new_VARSPOSiteAutoAttendantandCallQueueManagement)": {
          "defaultValue": "https://myuclabnl.sharepoint.com/sites/Teamsvoicemanagement",
          "type": "String",
          "metadata": {
            "schemaName": "new_VARSPOSiteAutoAttendantandCallQueueManagement",
            "description": " AutoAttendant and CallQueue Management SharePoint site"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "1137cef5-bf58-4916-bc2e-9bdf3e89a1b6"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "title": "File Content",
                  "type": "object",
                  "x-ms-dynamically-added": true,
                  "description": "Please select file or image",
                  "x-ms-content-hint": "FILE",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "contentBytes": {
                      "type": "string",
                      "format": "byte"
                    }
                  }
                },
                "text": {
                  "title": "Name",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Prompt Type",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "file",
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Create_file_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "efe0d761-ccbd-4d69-a06c-c001499d0b3f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_2",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('VAR - SPO Site AutoAttendant and CallQueue Management (new_VARSPOSiteAutoAttendantandCallQueueManagement)')",
                  "folderPath": "/Shared Documents/Audio prompts/@{triggerBody()['text']}",
                  "name": "@{triggerBody()['text_1']}.@{outputs('Extract_file_extension')}",
                  "body": "@triggerBody()['file']['contentBytes']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            }
          },
          "runAfter": {
            "Extract_file_extension": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Create_file": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "d5fcba4b-cd76-46de-a235-a4c2156088b6"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_sharepointonline_2",
                    "operationId": "CreateFile",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                  },
                  "parameters": {
                    "dataset": "@parameters('VAR - SPO Site AutoAttendant and CallQueue Management (new_VARSPOSiteAutoAttendantandCallQueueManagement)')",
                    "folderPath": "/Shared Documents/Audio prompts/@{triggerBody()['text']}",
                    "name": "@{triggerBody()['text_1']}.@{outputs('Extract_file_extension')}",
                    "body": "@triggerBody()['file']['contentBytes']"
                  },
                  "authentication": "@parameters('$authentication')"
                },
                "runtimeConfiguration": {
                  "contentTransfer": {
                    "transferMode": "Chunked"
                  }
                }
              }
            }
          },
          "expression": {
            "contains": [
              "@triggerBody()['text_1']",
              "holiday"
            ]
          },
          "metadata": {
            "operationMetadataId": "69c61e5c-085b-4aa2-a345-92939e5aec2f"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5f58e97e-3748-4236-9b77-9b7ada92f59a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Filename",
                "type": "string",
                "value": "@{triggerBody()['file']['name']}"
              }
            ]
          }
        },
        "Extract_file_extension": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "197db7ea-31eb-4485-97f0-15120ecdaa5a"
          },
          "type": "Compose",
          "inputs": "@last(split(variables('Filename'), '.'))"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}